<% @page_specific_scripts_css = ["static/edit_account", "registrations/signin", "static/devise"] %>

<div style="width:710px; margin:0 auto 15px auto;">
  <div class="form_container" style="border-left: none;">
    <h2>Sign in</h2>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

                                          <%= f.text_field :email, :class => "field blink", :value => "Email", :title => "Email", :id => "Email"%>
                                          <%= f.password_field :password, :class => "field blink", :value => "Password", :title => "Password", :id => "Password"%>
                                          <%= f.submit "Sign in", :class=>"button notext header-login" %>
                                          <% if devise_mapping.rememberable? -%>
                                            <%= f.check_box :remember_me, :id => "check" %> <%= f.label :remember_me, :for => "check" %>
                                          <% end %>

                                        <% end %>
    <br/>
    <div class="reg-links">
      <%= render :partial => "devise/shared/links" %>
    </div>
  </div>


  <div id="graphic">
    <img src="../images/shared/guy1.png"/>
  </div>

  <div class="clr"></div>
</div>