<div id="signup">
  <p><strong>Sign up for free</strong> to start reviewing from lessons
    <em>customized</em> to your needs and how well you are learning!</p>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

    <%= f.text_field :email, :class => "field blink", :value => "Email", :title => "Email"%>
    <%= f.password_field :password, :class => "field blink", :value => "Password", :title => "Password"%>
    <%= f.submit "Sign in", :class=>"signup_button", :value => "Sign Up Free" %>

  <% end %>
</div>

<div class="card_container">
  <div class="rounded_border card_side" id="card_front"></div>
  <div class="rounded_border card_side" id="card_back"></div>

  <div id="nav_container">
    <button id="back_button"></button>
    <div class="separator"></div>
    <button id="card_show" class="spacebar">Show (space bar)</button>
    <div id="grade_container">
          <button id="grade_4" class="got_it"></button>
          <button id="grade_3" class="kinda"></button>
          <button id="grade_2" class="barely"></button>
          <button id="grade_1" class="no_clue"></button>
    </div>
    <div id="summary"><a href='/my_eggs'>Back to My Eggs</a></div>
    <div class="separator"></div>
    <button id="next_button"></button>
    <div class="cl"></div>
  </div>

  <div id="progress_fraction"></div>
  <div class="clr"></div>
</div>
<div class="cl"></div>

<div id="card_json" style="display:none;"><%=@lines_json%></div>

<% if !@document.nil? %>
  <div style="display:none" id="document_<%=@document.id%>"><%=@document.html.html_safe rescue "" %></div>
<% else %>
  <% @tag.documents.each do |document| %>
    <% unless document.html.nil? %>
      <div style="display:none" id="document_<%=document.id%>"><%=document.html.html_safe rescue "" %></div>
    <% end %>
  <% end %>
<% end %>

<div id="log" style="margin-top:25px;"></div>

<img alt="loading" src="/images/shared/fb-loader.gif" style="display:none;" />