<html>
    <head>
        <%= stylesheet_link_tag "/jqtouch/jqtouch.css", "/jqtouch/themes/apple/theme.css" %>
        <%= javascript_include_tag "/jqtouch/jquery-1.4.2.min.js", "/jqtouch/jqtouch.js", "mobile" %>
    </head>
    <body>
        <!-- <%= link_to "Full site", :mobile => 0 %> -->
        <div class="current">
            <div class="toolbar">
                <%= link_to "Full site", root_url(:mobile => 0), :class => "button", :rel => "external" %>
                <h1>StudyEgg</h1>
                <a class="back">Back</a>
            </div>
            <div class="home">
                <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                    <ul>
                        <li><%= f.text_field :email, :placeholder => "Email" %></li>
                        <li><%= f.password_field :password, :placeholder => "Password" %></li>
                    </ul>
                    <center><%= f.submit "Sign in", :float => "right" %></center>
                <% end %>
            </div>            
        </div>
    </body>
</html>