<% @page_specific_scripts_css = ['/stylesheets/static/devise', "registrations/password"] %>

<div style="width:710px; margin:0 auto 15px auto;">
  <div class="form_container" style="border-left: none;">
  <h2>Forgot your password?</h2>
  
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <%= f.text_field :email, :class => "field blink", :value => "Email", :title => "Email", :id => "Email"%>

    <%= f.submit "Send me reset password instructions" %>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
  </div>

  <div id="graphic">
    <img src="../../images/shared/caveman4.png"/>
  </div>
  <div class="clr"></div>
</div>