<% @page_specific_scripts_css = ["static/edit_account", "registrations/signup", "static/devise"] %>

<div style="width:350px; margin: 0 auto 15px auto;">
  <div class="form_container" style="border-left: none;">
    <h2>Sign up</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

                                          <%= f.text_field :email, :class => "field blink", :value => "Email", :title => "Email", :id => "Email"%>
                                          <%= f.password_field :password, :class => "field blink", :value => "Password", :title => "Password", :id => "Password"%>
                                          <%= f.submit "Sign up", :class=>"button notext" %>

                                        <% end %>
    <br/>
    <div class="reg-links">
      <%= render :partial => "devise/shared/links" %>
    </div>
  </div>

  <div class="clr"></div>
</div>