<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> redesign
<% unless user_signed_in? %>
<div class="login">
        <a href="#" class="login-link" id="login-link">Login</a>

        <!-- DropDown -->
        <div class="dd" id="dd">

                <div class="cnt-top">
                        <div class="cnt-bottom">
                                <div class="cnt">

                                        <a href="#" class="login-link-hr" id="login-link-hr">Login</a>

                                        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

                                          <%= f.text_field :email, :class => "field blink", :value => "Email", :title => "Email"%>
                                          <%= f.password_field :password, :class => "field blink", :value => "Password", :title => "Password"%>
                                          <%= f.submit "Sign in", :class=>"button notext" %>
                                          <% if devise_mapping.rememberable? -%>
                                            <%= f.check_box :remember_me, :id => "check" %> <%= f.label :remember_me, :for => "check" %>
                                          <% end %>

                                        <% end %>

                                        <div class="cl">&nbsp;</div>

                                        <p><a href="#" class="dd-link">Lost Password?</a></p>

                                </div>
                        </div>
<<<<<<< HEAD
                </div>

        </div>
        <!-- End DropDown -->

</div>
<% else %>
  <span style="float:right; margin: 18px 6px 0 0;">
    Welcome, <%= current_user.first_name %>&nbsp;|&nbsp;
    <%= link_to "Edit Account", edit_user_registration_path %>&nbsp;|&nbsp;
    <%= link_to "Sign Out", destroy_user_session_path %>
  </span>
<% end %>
=======
=======
<div id="header">
      <!-- Shell -->
	<div class="shell">
          <!-- Head -->
            <div id="head">



>>>>>>> design changes
<!-- Head Row -->
<div class="row-top">
  <h1 id="logo"><a href="#" class="notext">Logo</a></h1>
  <% unless user_signed_in? %>
    <div class="login">
      <a href="#" class="login-link">Login</a>

      <!-- DropDown -->
      <div class="dd">

        <div class="cnt-top">
          <div class="cnt-bottom">
            <div class="cnt">
              <a href="#" class="login-link-hr">Login</a>
              <form action="" method="post">
                <div>
                  <input type="text" class="field blink" value="Email" title="Email" />
                  <input type="text" class="field blink" value="Password" title="Password" />
                  <input type="submit" value="Submit" class="button notext" />
                  <label for="check"><input type="checkbox" name="remember" id="check" value="Remember" />Remember Me</label>
=======
>>>>>>> redesign
                </div>

        </div>
        <!-- End DropDown -->

</div>
<<<<<<< HEAD
<!-- End Head Row -->
>>>>>>> homepage design initial commit
=======
<% else %>
  <span style="float:right; margin: 18px 6px 0 0;">
    Welcome, <%= current_user.first_name %>&nbsp;|&nbsp;
    <%= link_to "Edit Account", edit_user_registration_path %>&nbsp;|&nbsp;
    <%= link_to "Sign Out", destroy_user_session_path %>
  </span>
<% end %>
>>>>>>> redesign
