<div id="share_menu" class="modal" style="display:none;">
  <div class="title">
    Sharing
  </div>
  <div class="content">
    <% unless @read_only %>
      <div>
        <span class="option">Public/Private:</span>
        <% selected = (@document.public) ? 1 : 0 %>
        <%= select 'document', 'public', [['public',1],['private',0]], :selected => selected %>
        <%= image_tag "shared/fb-loader.gif", :alt => 'loading', :style => "margin-right:5px;visibility:hidden;", :id => "update_privacy_loading" %>
      </div>
    <% end %>

    <div class="user-tokens" id="viewers">
      <span class="option" style="float:left; padding: 2px 2px 2px 0; margin: 2px 2px 2px 0;">Sharing with:</span>
      <% @document.viewers.each do |viewer| %>
        <span class="token removable" viewer_id="<%= viewer.id %>">
          <%= viewer.email %>
          <span class="remove" >X</span>
        </span>
      <% end %>
    </div>
    <div class="clr-thin"></div>
    <div>
      <span class="option">Add a person:</span>
      <%= text_field_tag :name, '', :id => 'share_email_input' %>
      <%= submit_tag "Share", :id => 'share_request_button' %>
      <%= image_tag "shared/fb-loader.gif", :alt => 'loading', :style => "margin-right:5px;visibility:hidden;", :id => "update_share_loading" %>
    </div>
  </div>
</div>