<div id="title">
  <div class="breadcrumbs">
  <% if @document.nil? %>
    /<%= link_to @tag.name, '/my_eggs' %>
  <% else %>
    <%= link_to @document.tag.name, '/my_eggs' %>
    >> <%= link_to @document.name, '/documents/%i/edit' % @document.id %>
  <% end %>
  
 
  <input type="checkbox" name="mobile" id="mobile_review" style="margin-top: 6px; margin-left: 8px;"/>
  <% if !@document.userships.all(:conditions => {:user_id => current_user.id}).empty? %>
    <% if @document.userships.all(:conditions => {:user_id => current_user.id}).first.push_enabled %>
      <script type="text/javascript"> mobile_review.checked = true; </script>
    <% end %>
  <% end %>
  <span style="padding-top: 5px"> Enable Push Notifications </span>
  </div>
</div>

<div class="card_container">
  <div class="rounded_border card_side" id="card_front"></div>
  <div class="rounded_border card_side" id="card_back"></div>



  
  <div id="nav_container">
    <button id="back_button"></button>
    <div class="separator"></div>
    <button id="card_show" class="spacebar">Show (space bar)</button>
    <div id="grade_container">
          <button id="grade_4" class="got_it"></button>
          <button id="grade_3" class="kinda"></button>
          <button id="grade_2" class="barely"></button>
          <button id="grade_1" class="no_clue"></button>
    </div>
    <div id="summary"><a href='/my_eggs'>Back to My Eggs</a></div>
    <div class="separator"></div>
    <button id="next_button"></button>
    <div class="cl"></div>
  </div>

  <div id="progress_fraction"></div>
  <div class="clr"></div>
</div>

<div id="card_json" style="display:none;"><%=@lines_json%></div>

<% if !@document.nil? %>
  <div style="display:none" id="document_<%=@document.id%>"><%=@document.html.html_safe rescue "" %></div>
<% else %>
  <% @tag.documents.each do |document| %>
    <% unless document.html.nil? %>
      <div style="display:none" id="document_<%=document.id%>"><%=document.html.html_safe rescue "" %></div>
    <% end %>
  <% end %>
<% end %>

<div id="log" style="margin-top:25px;"></div>

<img alt="loading" src="/images/shared/fb-loader.gif" style="display:none;" />