<h1>Create new</h1>
<br />
<% form_for :dump, :url=>{:controller=>"documents", :action=>"create_from_csv"}, :html => { :multipart => true } do |f| -%>
 <table>
   <tr>
     <td>
      <label for="dump_file">
        Select a CSV File :
      </label>
     </td>
     <td >
       <%= f.file_field :file %>
     </td>
   </tr>
  
   <tr>
     <td>
       <label for="name">
         Name your document
       </label>
     </td>
     <td>
       <%=  f.text_field :name%>
     </td>
   </tr>
   <tr>
     <td>
       <label for="tag">
         Place in folder:
       </label>
     </td>
     <td>
       <%= collection_select("tag", "id", Tag.all(:conditions => {:user_id => current_user.id}), :id, :name) %>
     </td>
   </tr>    
   <tr>
     <td colspan='2'>
       <%= submit_tag 'Upload' %>
     </td>
   </tr>
 </table>
<% end %>
<br /><br />
<h1>Update existing</h1>
<br />
<% form_for :dump, :url=>{:controller=>"documents", :action=>"update_from_csv"}, :html => { :multipart => true } do |f| -%>
 <table>
   <tr>
     <td>
      <label for="dump_file">
        Select a CSV File :
      </label>
     </td>
     <td >
       <%= f.file_field :file %>
     </td>
   </tr>
   <tr>
     <td>
       <label for="name">
         ID of document to update
       </label>
     </td>
     <td>
       <%=  f.text_field :doc_id%>
     </td>
   </tr>
   <tr>
     <td colspan='2'>
       <%= submit_tag 'Upload' %>
     </td>
   </tr>
 </table>
<% end %>