<html>
    <head>
        <%= stylesheet_link_tag "/jqtouch/jqtouch.css", "/jqtouch/themes/apple/theme.css" %>
        <%= javascript_include_tag "/jqtouch/jquery-1.4.2.min.js", "/jqtouch/jqtouch.js", "mobile" %>
    </head>
    <body>
        <!-- <%= link_to "Full site", :mobile => 0 %> -->
        <div class="current">
            <div class="toolbar">
                <%= link_to "Full site", root_url(:mobile => 0), :class => "button", :rel => "external" %>
                <h1>StudyEgg</h1>
                <%= button_to "Log Out", "/users/sign_out", :method => "GET" %>
            </div>
            <div class="classes">
                <ul>
                    <% @tags.each do |tag| %>
                        <% puts "/tags/show/#{tag.id}" %>
                        <li class="arrow"><%= link_to tag.name, "/tags/show/#{tag.id}" %></li>
                    <% end %>
                </ul>
            </div>          
        </div>
    </body>
</html>