- @page_specific_scripts_css = ["store/index"]

.eggs
  - @tags.each do |e|
    .egg_container
      .title
        %h4 Aligned StudyEgg for:
        %a{'href' => "/store/egg_details/#{e.id}"}
          %h2= e.name
      .statement
        %img.egg_image{:src => "../../images/eggs/#{(1..9).to_a.sample}.png"}
        .utterance
          %strong= [4,12,2,3,8,14].sample
          %strong= ["days", "weeks", "days"].sample
          %strong ago
          you
          = ["convinced me you were Einstein!", "studied like a ninja!", "rocked out!"].sample
        .utterance
          Let's get back to
          %strong= ["monkey wrenches", "Banana-grams.", "uses of the force", "turkey feathers", "French cheeses"].sample
        .utterance
          %a
            = ["Let's go!", "Ready?", "Try this..."].sample

        .clr
  %div{:style => "clear:both"}