<% @page_specific_scripts_js = ["parser", "class_selector", "vendors/modal.js", "/javascripts/vendors/lightview/js/lightview.js"] %>
<% @page_specific_scripts_css = ["/javascripts/vendors/lightview/css/lightview"] %>
<% flash[:notice] = nil %>

<div id="tags_json" style="display: none;"><%= @tags_json %></div>
<div id="detail_tags" style="display: none;">
<%= current_user.tags.collect {|t| [ t.name, t.id] }.to_json()%>
</div>
<div id="recent_json" style="display: none;"><%= @recent_json %></div>

<div id="left_container" style="text-align:center;">
  <h2 style='color:#595448; margin-top:15px;'>Check out the <a href='/store'>EggStore</a> for more!</h2>
<%#*<div class="new_guide_button">%>
   <%#*<a href="/documents/create/0" class="button">New Document</a>%>
<%#*</div>%>

<div id="details">
    <!--<div id="metainfo">
      <h4 class="details_label">Title: </h4><em>Cells</em><br/>
      <h4 class="details_label">Last Updated: </h4><em>5/29/2011</em>
    </div>-->
</div>
</div>

<div id="documents" >
  <!--<h2 tag_id="1234" class="accordion_toggle">Misc</h2>
  <div id="accordion_content_1234" class="accordion_content" tag_id="1234" >
    <div class="doc_item inactive" doc_id="1020">
      <input type="checkbox" class="chbox" doc_id="1020"/>
      <span class="doc_title" doc_id="1020">Random</span>
      <div class="doc_actions">
        <ul>
          <li><a href="/documents/1020/edit">edit</a></li>
          <li><a href="/review/1020">review</a></li>
          <li><span class="remove_doc" doc_id="1020">delete</span></li>
        </ul>
      </div>
    </div>

    <div class="doc_item inactive" doc_id="1021">
      <input type="checkbox" class="chbox" doc_id="1021"/>
      <span class="doc_title" doc_id="1021">Untitles</span>
      <div class="doc_actions">
        <ul>
          <li><a href="/documents/1021/edit">edit</a></li>
          <li><a href="/review/1021">review</a></li>
          <li><span class="remove_doc" doc_id="1021">delete</span></li>
        </ul>
      </div>
    </div>
  </div>

  <h2 tag_id="4321" class="accordion_toggle">Bio 101</h2>
  <div id="accordion_content_1234" class="accordion_content" tag_id="4321" >
    <div class="doc_item inactive" doc_id="1022">
      <input type="checkbox" class="chbox" doc_id="1022"/>
      <span class="doc_title" doc_id="1022">Cells</span>
      <div class="doc_actions">
        <ul>
          <li><a href="/documents/1022/edit">edit</a></li>
          <li><a href="/review/1022">review</a></li>
          <li><span class="remove_doc" doc_id="1022">delete</span></li>
        </ul>
      </div>
    </div>

    <div class="doc_item inactive" doc_id="1023">
      <input type="checkbox" class="chbox" doc_id="1023"/>
      <span class="doc_title" doc_id="1023">Darwin and Evolution</span>
      <div class="doc_actions">
        <ul>
          <li><a href="/documents/1023/edit">edit</a></li>
          <li><a href="/review/1023">review</a></li>
          <li><span class="remove_doc" doc_id="1023">delete</span></li>
        </ul>
      </div>
    </div>
  </div>-->
</div>
<div class="clr"></div>

<div id="rename_folder_modal" class="modal" style="display:none; width:330px;">
  <%= stylesheet_link_tag '/stylesheets/store/index.css', :cache => false %>
  <div class="title">
    Edit StudyEgg
  </div>
  <div class="content">

    <div class="clr-thin"></div>
    <div style="float:left; display:none">
      <div class="egg">
        <img  class=icon">
      </div>
      <a id="update_icon" class='lightview' title=" :: :: width: 620, height: 200">Change Icon</a>
    </div>

    <div style="float:left; width:100%;">
      <span class="option">Name:</span>
        <input id="rename_field" name="rename_field" size="30" type="text" maxlength="40"></input>
        <%= submit_tag "Rename", :id => "submit_rename" %>
        <%= image_tag "shared/fb-loader.gif", :alt => 'loading', :style => "margin-right:5px;visibility:hidden;", :id => "new_tag_loading" %>
    </div>
    <div class="cl"></div>
  </div>
</div>

<div id="delete_folder_modal" class="modal" style="display:none; width:410px;">
  <div class="title">
    Delete StudyEgg
  </div>
  <div class="content">

    <div class="clr-thin"></div>
    <div style="text-align:center;">
      <span class="option">Are you sure you want to delete this egg and all its contents?</span><br /><br />
        <%= submit_tag "Yes. Delete it all!", :id => "submit_delete" %>
        <%= submit_tag "No. I changed my mind.", :id => "submit_cancel" %>
        <%= image_tag "shared/fb-loader.gif", :alt => 'loading', :style => "margin-right:5px;visibility:hidden;", :id => "new_tag_loading" %>
    </div>
  </div>
</div>

<div id="delete_doc_modal" class="modal" style="display:none; width:330px;">
  <div class="title">
    Delete Document
  </div>
  <div class="content">

    <div class="clr-thin" style="text-align:center;"></div>
    <div>
      <span class="option">Are you sure you want to delete this document?</span><br />
        <%= submit_tag "Yes. Delete it all!", :id => "submit_delete" %>
        <%= submit_tag "No. I changed my mind.", :id => "submit_cancel" %>
        <%= image_tag "shared/fb-loader.gif", :alt => 'loading', :style => "margin-right:5px;visibility:hidden;", :id => "new_tag_loading" %>
    </div>
  </div>
</div>
<%= render "shared/modal_new_tag" %>

  <div id="username" style="display: none;">
    
    <h2 style="text-align: center; color:#d22b21;">Thanks for signing up!</h2>
    <h3 style="text-align: center;">Choose a sweet username to get started!</h3>
    <div style="text-align:center">
      <strong>Username: </strong>
      <input type="text" id="userfield" name="userfield" placeholder="Leroy_Jenkins"></input>
      <br/>
      <span id="validate" style="display:none; color: red; margin-top: 5px;">Username must be 3-20 characters. <br/>Letters, numbers, and underscores only.</span>
      <span id="taken" style="display:none; color: red; margin-top: 5px;">Sorry, this is taken</span>
      <span id="available" style="display:none; color: green; margin-top: 5px;">Nice choice!</span>
      <button id="submit" style="display:none; margin:5px 0 0 15px;">Get it!</button>
    </div>

    <h5 style="text-align: center;">Don't worry, you can always change it later</h5>

    <a href="/users/sign_out" style="margin:5px; float: right;">cancel</a>

  </div>
