<html>
    <head>
        <%= stylesheet_link_tag "/jqtouch/jqtouch.css", "/jqtouch/themes/apple/theme.css" %>
        <%= javascript_include_tag "/jqtouch/jquery-1.4.2.min.js", "/jqtouch/jqtouch.js", "mobile" %>
    </head>
    <body>
        <!-- <%= link_to "Full site", :mobile => 0 %> -->
        <div class="current">
            <div class="toolbar">
                <%= link_to "Full site", root_url(:mobile => 0), :class => "button", :rel => "external" %>
                <h1>StudyEgg</h1>
            </div>
            <div class="notes">
                <ul>
                    <% @documents.each do |document| %>
                        <li class="arrow"><%= link_to document.name, "/review/#{document.id}" %></li>
                    <% end %>
                </ul>
            </div>          
        </div>
    </body>
</html>