<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/prototype/1/prototype.js', :cache => false %>
<%= javascript_include_tag '/javascripts/store/pluit-carousel.js', :cache => false %>
<%= javascript_include_tag "/javascripts/store/effects.js", :cache => false %>

<%= stylesheet_link_tag '/stylesheets/store/pluit-carousel.css', :cache => false %>
<%= stylesheet_link_tag '/stylesheets/store/pluit-carousel-skins.css', :cache => false %>
<%= stylesheet_link_tag '/stylesheets/store/index.css', :cache => false %>
<script type="text/javascript" src="../../javascripts/store/icons.js"></script>


<style>
  .egg{
    background: url("../../images/home/egg.png") no-repeat;
    position: relative;
    cursor: pointer;
    padding: 2px;
}
.selected{
  border: #0000FF 2px solid;
  padding: 0px;
}
</style>

<div id="carousel-1" class="pluit-carousel">
  <div class="viewport" id="<%= @tag.id %>">
    <ul>
    <%  i = 0
    Document::ICON_TYPES.each do |icon|
      if i%5 == 0 %>
      <li>
        <ul>
      <% end %>
          <li><div id="<%= i %>" class="egg
                   <% if @tag.icon_id == i %>
                      selected
                   <%end%>
                      "><img src="../../images/nounproject/<%= icon %> " class="icon"></div></li>
      <% if i%5 == 4 %>
        </ul>
      </li>
      <% end %>
      <% i+=1 %>
    <% end %>

    <% if i%5 != 0 %>
    </ul>
    </li>
    <% end %>
  </ul>
  </div>
</div>