<% @page_specific_scripts_js = ["/javascripts/store/details.js"] %>
<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/prototype/1/prototype.js', :cache => false %>
<% @page_specific_scripts_css = ["/stylesheets/store/index.css"]%>
<div style="margin:10px auto; padding:10px; width: 600px;">
  <div id="breadcrumbs">
    <a href="/store">Egg Store</a> >> <a href="/store/egg_details/<%= @tag.id %>"><%= @tag.name %></a> >> <a href="#"><%= @document.name %></a>
  </div>
  <div style="float:left; margin-top: 15px;"><img src="../../images/home/document.png"/></div>
  <div class="detail-float">


<h1 class="egg-head"><%= @document.name %></h1>

<% purchased = false %>
<% @userships.each do |u| %>
  <% if @document.id == u.document_id.to_i%>
    <% purchased = true %>
  <% end %>
<% end %>

<% if purchased %>
<span class="purchased"><img src="../../images/home/purchased.png" /></span>
<% else %>
  <span id="<%= @document.id%>" class="buy"><img src="../../images/home/get-it-now.png" /></span>
<% end %>

  <div id="content" style="display:block; clear: both; height:220px; overflow: hidden; margin-top:15px;">
    <h4>Preview</h4>
    <% html =  @document.html.split(/[<>]/) %>
    <% i = 0 %>
    <% html.each do |h| %>
      <% if i%2 == 0 && h.size>1%>
        <%= h.gsub('&nbsp;','') %><br/>
      <%end%>
      <% i+=1 %>
    <% end %>
  </div>
</div>
  <div class="cl"></div>
</div>
