<% @page_specific_scripts_js = ["/javascripts/store/details.js"] %>
<% @page_specific_scripts_css = ["/stylesheets/store/egg_details.css"]%>


<div class="egg_container">
  <img class="egg_image" src="../../images/home/egg.png" />
  <div class="egg_info">
    <h4>Aligned StudyEgg for:</h4>
    <h2><%= @tag.name%></h2>
    <div class="review"><img src="../../images/shared/rating-stars.png" /></div>
    <div class="dashed-line"></div>
    <% if @tag.price.nil? or @tag.price <= 0%>
      <% e_price = "free" %>
    <% else %>
      <% e_price = "$"+sprintf("%.2f",@tag.price/100.00).to_s %>
    <% end %>
    
    <% if @documents.empty? %>
      <% l_price = "free" %>
    <% elsif @documents[0].price.nil? or @documents[0].price <= 0 %>
      <% l_price = "free" %>
    <% else %>
      <% l_price = "$"+sprintf("%.2f",@documents[0].price/100.00).to_s %>
    <% end %>
    Egg Price: <span class="egg_price"><%= e_price %></span> 
    Lesson Price: <span class="egg_price"><%= l_price %></span><br />
    <div class="lesson_list">
      <span class="header">Lessons</span>
      <table>
        <tr class="d0">
          <td id="title">Title</td>
          <td id="questions"># of Questions</td>
          <td id="price">Price</td>
          <td id="buy"></td>
        </tr>
        <% i=0 %>
        <% @documents.each do |d| %>
          <% if i%2==0 %>
            <tr class="d1">
          <% else %>
            <tr class="d0">
          <% end %>
              <% i+=1 %>
              <td class="title_col"><%= d.name %></a></td>
              <td><%=  @question_count[d.id] %></td>
              <td><% if d.price.nil? or d.price <= 0 %>
                    <%= puts "FREE LOOP #{d.name}: #{d.price}"  %>
                    free
                  <% else %>
                    <%= puts "PRICE LOOP #{d.name}: #{d.price}"  %>
                    <%= "$"+(d.price/100.0).to_s %>
                  <% end %></td>
              <td>
          <% purchased = false %>
          <% @userships.each do |u| %>
            <% if d.id == u.document_id.to_i%>
              <% purchased = true %>
            <% end %>
          <% end %>

          <% if purchased %>
            <span class="purchased"><img src="../../images/home/purchased.png" /></span>
            <% purchased = false %>
          <% else %>
            <span id="<%= d.id%>" class="buy"><img src="../../images/home/get-it-now.png" /></span>
          <% end %>
              </td></tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div class="cl"></div>
<div id="confirm_purchase" class="modal" style="display: none; width:410px; z-index: 1000; margin: 0 auto; position: absolute; top:300px; left:200px;">
  <div class="title">
    Confirm Purchase
  </div>
  <div class="content">

    <div class="clr-thin"></div>
    <div style="text-align:center;">
      <span class="option">You are about to make a purchase. Click "Purchase Now" to confirm the purchase and charge your credit card.  Otherwise click "Cancel"</span><br /><br />
        <%= submit_tag "Purchase Now", :id => "submit_confirm" %>
        <%= submit_tag "Cancel", :id => "submit_cancel" %>
        <%= image_tag "shared/fb-loader.gif", :alt => 'loading', :style => "margin-right:5px;visibility:hidden;", :id => "new_tag_loading" %>
    </div>
  </div>
</div>