<% @page_specific_scripts_js = ["/javascripts/store/details.js"] %>
<% @page_specific_scripts_css = ["/stylesheets/store/index.css"]%>


<div style="margin:10px auto; padding:10px; width: 600px;">
  <div id="breadcrumbs">
    <a href="/store">Egg Store</a> >> <a href="#"><%= @tag.name %></a>
  </div>
  <div class="egg-box" style="float:left;"><div class="egg"><img src="../../images/nounproject/<%= Document::ICON_TYPES[@tag.icon_id] %>" class="icon"></div></div>
  <div class="detail-float">
<h1 class="egg-head"><%= @tag.name %></h1>
<ul>
  <% @documents.each do |d| %>
  <li><div style="width:250px; float:left;"><a href="/store/details/<%= d.id %>"><%= d.name %></a></div>
    <% purchased = false %>
    <% @userships.each do |u| %>
      <% if d.id == u.document_id.to_i%>
        <% purchased = true %>
      <% end %>
    <% end %>

    <% if purchased %>
      <div style="width:100px; float:left; margin:-5px 0 5px 10px;"><span class="purchased"><img src="../../images/home/purchased.png" /></span></div>
      <% purchased = false %>
    <% else %>
      <div style="width:100px; float:left; margin:-5px 0 5px 10px;"><span id="<%= d.id%>" class="buy"><img src="../../images/home/get-it-now.png" /></span></div>
    <% end %>
    </li>
  <% end %>
</ul>
    
</div>
  <div class="cl"></div>
</div>
