
- @page_specific_scripts_css = ["/stylesheets/store/star_rating.css", "/stylesheets/store/index.css"]

#search_json{:style => "display:none;"}= Document::ICON_TYPES.to_json
%div
  #search
    .inner-search
      #loader
        %img#mag{:src => "../../images/nounproject/magnifying-glass.png"}
        %img#load_search{:src => "../../images/search/ajax-loader.gif", :style => "display:none;"}
      %input#search-box{:placeholder => "Search", :type => "text", :xmlns => "http://www.w3.org/1999/xhtml"}
  #search_results
    - i=1
    - @recent_public_eggs.each do |e|
      %a{:href => "/store/egg_details/#{e.id}", :title =>"test"}
        .egg_container
          .title
            %h4 Aligned StudyEgg for:
            %h2= e.name
          %img.egg_image{:src => "../../images/eggs/#{e.icon_id}.png"}
          .egg_info
            %strong Egg Price:
            %span.egg_price= @egg_prices[e.id][0]
            %br/
            %strong Lesson Price:
            %span.egg_price= @egg_prices[e.id][1]
            %br/
            .review
              %ul.static-star-rating
                %li.current-rating{:id=>'current-rating', :style => "width: #{@rating_width[e.id]}px"}
                %li
                  %a.one-star{:href=>"#", :title=>'1 star out of 5'} 1
                %li
                  %a.two-stars{:href=>"#", :title=>'2 stars out of 5'} 2
                %li
                  %a.three-stars{:href=>"#", :title=>'3 stars out of 5'} 3
                %li
                  %a.four-stars{:href=>"#", :title=>'4 stars out of 5'} 4
                %li
                  %a.five-stars{:href=>"#", :title=>'5 stars out of 5'} 5
      - if i%3==0
        .cl
      - i+=1
  %div{:style => "clear:both"}
