<% @page_specific_scripts_js = ["/javascripts/store/effects.js", "/javascripts/store/pluit-carousel.js"] #, "/javascripts/vendors/lightview/js/lightview.js"%>
<% @page_specific_scripts_css = ["/stylesheets/store/pluit-carousel.css", "/stylesheets/store/pluit-carousel-skins.css", "/stylesheets/store/index.css"] #, "/javascripts/vendors/lightview/css/lightview.css"%>

<div id="search_json" style="display:none;">
  <%= Document::ICON_TYPES.to_json %>
</div>
<% i = 4 %>
<div  style="margin:10px auto; padding:10px; width: 800px;">
  <div id="search">
      <div id="loader" style="width:32px; height:32px; display: block; float:left; margin:4px;"><img id="mag" src="../../images/nounproject/magnifying-glass.png" />
                                                                                    <img id="load_search" src="../../images/search/ajax-loader.gif"  style="display:none;" /></div>
      <!--<input type="text" id="search_bar" name="search_bar" size="30" value="Search Public Study Guides"/>-->
      <input xmlns="http://www.w3.org/1999/xhtml" type="text" id="search-box" placeholder="Search" />
    </div>
    <div id="search_results">

  <h4>Recent Eggs</h4>
  <div id="recent_eggs">
    <% unless @recent_public_eggs %>
      <strong>Sorry, there are no public documents right now</strong>
    <% else %>
      <ul style="margin-left: -20px;">
      <% @recent_public_eggs.each do |e| %>
        <li><div class="egg-box"><a href='store/egg_details/<%= e.id %>' ><div class="egg">
                <img src="../../images/nounproject/book1.png" class="icon"></div></a><%= e.name %></div></li>

                <%i+=1%>
      <% end %>
      </ul>
      <div style="clear:both"></div>
    <% end %>
  </div><!--End Recent Eggs-->

  <h4>Popular Eggs</h4>
  <div id="popular_eggs">
    <% unless @popular_public_eggs %>
      <strong>Sorry, there are no public documents right now</strong>
    <% else %>
      <ul style="margin-left: -20px;">
      <% @popular_public_eggs.each do |e| %>
        <li><div class="egg-box"><a href='store/egg_details/<%= e.id %>' ><div class="egg">
                <img src="../../images/nounproject/beaker.png" class="icon"></div></a><%= e.name %></div></li>
      <%i+=1%>
      <% end %>
      </ul>
      <div style="clear:both"></div>
    <% end %>
  </div><!--End Recent Eggs-->

  </div><!--End Results-->
  <div style="clear:both"></div>


</div>