<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraph.org/schema/">
<head>
  <title>StudyEgg | passionate learners</title>

  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'style' %>
  <meta name="description" content="StudyEgg automatically creates study guides from your notes and tracks how much you know. Spend less time studying and know your material better with StudyEgg!" />
  <%= csrf_meta_tag %>
  <% auto_js_css =  controller.controller_name + '/' + controller.action_name  %>

  <!--auto-include css if exists-->
  <% auto_css_full =  ::Rails.root.to_s + '/public/stylesheets/' + controller.controller_name + '/' + controller.action_name + '.css'  %>
  <% if  File.file?(auto_css_full) %>
    <%= stylesheet_link_tag auto_js_css %>
  <% end %>

  <% if @page_specific_scripts_css %> <%= stylesheet_link_tag @page_specific_scripts_css %> <% end %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/prototype/1/prototype.js', :cache => false %>
  <%#= javascript_include_tag '/javascripts/vendors/prototype.js', :cache => false %>
  <%= javascript_include_tag ['/javascripts/vendors/scriptaculous/src/scriptaculous.js?load=effects,dragdrop,controls', 'rails', 'application', '/javascripts/vendors/scriptaculous/src/effects', '/javascripts/vendors/scriptaculous/src/dragdrop', '/javascripts/vendors/scriptaculous/src/controls'], :cache => '/cache/all' %>
  <!--auto-include js if exists-->
  <% auto_js_full =  ::Rails.root.to_s + '/public/javascripts/' + controller.controller_name + '/' + controller.action_name + '.js'  %>
  <% if  File.file?(auto_js_full) %>
    <%= javascript_include_tag auto_js_css, :cache => false %>
  <% else %>
    <%= javascript_include_tag 'default', :cache => false %>
  <% end %>
  <% if @page_specific_scripts_js %> <%= javascript_include_tag @page_specific_scripts_js, :cache => '/cache/' + auto_js_css %> <% end %>
  <link rel="icon" type="image/png" href="/images/logos/favicon.ico" />
  <meta name="google-site-verification" content="1kmG8JhfDQo1KP7tHKZsMRUa8Msr83nxkOj3aQ_jCl0" />
</head>
<body>
  <div class="wrapper">
    <%= render 'shared/authentication' %>
              
    <!--flash messages-->
    <% unless flash[:notice].blank? && flash[:error].blank? && flash[:alert].blank? %>
      <div class="flash_container">
        <% unless flash[:alert].blank? %><span class="error rounded_border"><%= flash[:alert] %></span><% end %>
        <% unless flash[:notice].blank? %><span class="notice rounded_border"><%= flash[:notice] %></span><% end %>
        <% unless flash[:error].blank? %><span class="error rounded_border"><%= flash[:error] %></span><% end %>
      </div>
    <% end %>

    <%= yield %>

    <div class="clr-zero"></div>
    <!-- Footer -->
    <div id="footer">

      <!-- Shell -->
      <div class="shell">

        <div class="links">
          <h4>Legal</h4>
          <ul>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy</a></li>
          </ul>
        </div>

        <div class="address">
          <h4>Connect</h4>
          <ul>
          <li>Zendo Labs, Inc.</li>
          <li>1 Davol Sq Suite 203</li>
          <li>Providence, RI 02903</li>
          </ul>
        </div>

        <div class="social">
          <a href="#" class="twitter-link">Twitter</a>
          <a href="#" class="facebook-link">Facebook</a>
          <a href="#" class="google-link">Google</a>

          <div class="cl">&nbsp;</div>
        </div>

        <div class="cl">&nbsp;</div>

        <div class="bottom">
        <p>Copyright 2011 Zendo Labs, Inc. All rights reserved.</p>
        </div>

      </div>
      <!-- End Shell -->

    </div>
    <!-- End Footer -->
  </div>
  <div id="script_userecho"></div>

<!-- begin olark code --><script type='text/javascript'>/*{literal}<![CDATA[*/window.olark||(function(i){var e=window,h=document,a=e.location.protocol=="https:"?"https:":"http:",g=i.name,b="load";(function(){e[g]=function(){(c.s=c.s||[]).push(arguments)};var c=e[g]._={},f=i.methods.length; while(f--){(function(j){e[g][j]=function(){e[g]("call",j,arguments)}})(i.methods[f])} c.l=i.loader;c.i=arguments.callee;c.f=setTimeout(function(){if(c.f){(new Image).src=a+"//"+c.l.replace(".js",".png")+"&"+escape(e.location.href)}c.f=null},20000);c.p={0:+new Date};c.P=function(j){c.p[j]=new Date-c.p[0]};function d(){c.P(b);e[g](b)}e.addEventListener?e.addEventListener(b,d,false):e.attachEvent("on"+b,d); (function(){function l(j){j="head";return["<",j,"></",j,"><",z,' onl'+'oad="var d=',B,";d.getElementsByTagName('head')[0].",y,"(d.",A,"('script')).",u,"='",a,"//",c.l,"'",'"',"></",z,">"].join("")}var z="body",s=h[z];if(!s){return setTimeout(arguments.callee,100)}c.P(1);var y="appendChild",A="createElement",u="src",r=h[A]("div"),G=r[y](h[A](g)),D=h[A]("iframe"),B="document",C="domain",q;r.style.display="none";s.insertBefore(r,s.firstChild).id=g;D.frameBorder="0";D.id=g+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){D.src="javascript:false"} D.allowTransparency="true";G[y](D);try{D.contentWindow[B].open()}catch(F){i[C]=h[C];q="javascript:var d="+B+".open();d.domain='"+h.domain+"';";D[u]=q+"void(0);"}try{var H=D.contentWindow[B];H.write(l());H.close()}catch(E){D[u]=q+'d.write("'+l().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}c.P(2)})()})()})({loader:(function(a){return "static.olark.com/jsclient/loader0.js?ts="+(a?a[1]:(+new Date))})(document.cookie.match(/olarkld=([0-9]+)/)),name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('1996-368-10-2806');/*]]>{/literal}*/</script>
<!-- end olark code -->


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24416099-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>