<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraph.org/schema/"  lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
	<title>Study Egg</title>
	<link rel="shortcut icon" href="../images/home/favicon.ico" />
	<link rel="stylesheet" href="../stylesheets/style.css" type="text/css" media="all" />
	<script src="../javascripts/vendors/jquery-1.6.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../javascripts/vendors/cufon-yui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../javascripts/vendors/ITC_Franklin_Gothic_LT_500.font.js" type="text/javascript" charset="utf-8"></script>
	<script src="../javascripts/vendors/jquery-func.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<!-- Header -->
<div id="header">

	<!-- Shell -->
	<div class="shell">

		<!-- Head -->
		<div id="head">

			<!-- Head Row -->
			<div class="row-top">
				<h1 id="logo"><a href="#" class="notext">Logo</a></h1>

				<div class="login">
					<a href="#" class="login-link">Login</a>

					<!-- DropDown -->
					<div class="dd">

						<div class="cnt-top">
							<div class="cnt-bottom">
								<div class="cnt">

									<a href="#" class="login-link-hr">Login</a>

									<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

                                                                          <%= f.text_field :email, :class => "field blink", :value => "Email", :title => "Email"%>
                                                                          <%= f.password_field :password, :class => "field blink", :value => "Password", :title => "Password"%>
                                                                          <%= f.submit "Sign in", :class=>"button notext" %>
                                                                          <% if devise_mapping.rememberable? -%>
                                                                            <%= f.check_box :remember_me, :id => "check" %> <%= f.label :remember_me, :for => "check" %>
                                                                          <% end %>

                                                                        <% end %>

									<div class="cl">&nbsp;</div>

									<p><a href="#" class="dd-link">Lost Password?</a></p>

								</div>
							</div>
						</div>

					</div>
					<!-- End DropDown -->

				</div>

				<div class="cl">&nbsp;</div>
			</div>
			<!-- End Head Row -->

			<!-- Head Row -->
			<div class="row">
				<div class="left">
					<h2>Learning Evolved.</h2>
					<p>Welcome to the next step in the evolution of learning. Sign up for a <strong>FREE BETA ACCOUNT</strong> today!</p>
				</div>

				<div class="right">
					<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

                                          <%= f.text_field :email, :class => "field blink", :value => "Email", :title => "Email"%>
                                          <%= f.password_field :password, :class => "field blink", :value => "Password", :title => "Password"%>
                                          <%= f.submit "Sign in", :class=>"button notext" %>

                                        <% end %>
				</div>

				<div class="cl">&nbsp;</div>
			</div>
			<!-- End Head Row -->

			<%= yield %>

		</div>
		<!-- End Head -->

	</div>
	<!-- End Shell -->

</div>
<!-- End Header -->

<!-- Main -->
<div id="main">

	<!-- Shell -->
	<div class="shell">

		<!-- Content -->
		<div id="content">

			<h3>Learn More. Study Less.</h3>

			<!-- Cols -->
			<div class="cols">

				<!-- Col -->
				<div class="col">

					<div class="col-head">
						<img src="../images/home/step1.png" alt="Find Your Egg" />
						<h4>Find Your Egg</h4>
						<p>Instant access to a companion <br>StudyEgg for your textbook</p>
					</div>

				</div>
				<!-- End Col -->

				<!-- Col -->
				<div class="col">

					<div class="col-head second">
						<img src="../images/home/step2.png" alt="Review Anywhere" />
						<h4>Review Anywhere</h4>
						<p>Let StudyEgg teach you at <br>home or on the go!</p>
					</div>

				</div>
				<!-- End Col -->

				<!-- Col -->
				<div class="col">

					<div class="col-head last">
						<img src="../images/home/step3.png" alt="Get Results" />
						<h4>Get Results</h4>
						<p>Earn better grades with <br>less stress and less study time</p>
					</div>

				</div>
				<!-- End Col -->

				<div class="cl">&nbsp;</div>
			</div>
			<!-- End Cols -->

			<div class="vision">
				<div class="col-cnt">
					<h4>Vision</h4>
					<p>Our mission here at Studyegg is to make studying easier, less stressful, and more effective.  For too many students learning has become an exercise in putting out fires. Cramming in just enough to do well on an exam (or not) the night before. Finishing just in time to do it all over again with a different class.  Studying this way is not only high stress but it’s an extremely ineffective way to learn.  Studyegg changes all that by utilizing state-of-the-art learning research to help students learn better, retain information longer, and spend less time studying.  We built Studyegg to address these universal student issues of time and stress directly and, as students and Studyegg users ourselves, we can confidently proclaim: It works!</p>
				</div>
				<div class="col-photo">
					<img src="../images/home/studyegg-team.png" alt="StudyEgg Team" />
				</div>
				<div class="cl">&nbsp;</div>
			</div>
			<!-- End Vision -->

		</div>
		<!-- End Content -->

	</div>
	<!-- End Shell -->

</div>
<!-- End Main -->

<!-- Footer -->
<div id="footer">

	<!-- Shell -->
	<div class="shell">

		<div class="links">
			<h4>StudyEgg</h4>
			<ul>
			    <li><a href="#">The Team</a></li>
			    <li><a href="#">Josh's Story</a></li>
			    <li><a href="#">About</a></li>
			</ul>
		</div>

		<div class="links">
			<h4>Legal</h4>
			<ul>
			    <li><a href="#">Privacy Policy</a></li>
			    <li><a href="#">Terms of Service</a></li>
			</ul>
		</div>

		<div class="address">
			<h4>Contact</h4>
			<ul>
			    <li><a href="#">Email Us</a></li>
			    <li><a href="#">Facebook</a></li>
			    <li><a href="#">Twitter</a></li>
			</ul>
		</div>

		<div class="social">
			<a href="#" class="twitter-link">Twitter</a>
			<a href="#" class="facebook-link">Facebook</a>
			<a href="#" class="google-link">Google</a>

			<div class="cl">&nbsp;</div>
		</div>

		<div class="cl">&nbsp;</div>

		<div class="bottom">
			<p>Copyright 2011 Zendo Labs, Inc. All rights reserved.</p>
		</div>

	</div>
	<!-- End Shell -->

</div>
<!-- End Footer -->

</body>
</html>