<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraph.org/schema/"  lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
	<title>Study Egg</title>
	<link rel="shortcut icon" href="../images/home/favicon.ico" />
	<link rel="stylesheet" href="../stylesheets/style.css" type="text/css" media="all" />
	<script src="../javascripts/vendors/jquery-1.6.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../javascripts/vendors/cufon-yui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../javascripts/vendors/ITC_Franklin_Gothic_LT_500.font.js" type="text/javascript" charset="utf-8"></script>
	<script src="../javascripts/vendors/jquery-func.js" type="text/javascript" charset="utf-8"></script>
</head>

<body id="home">
<!-- Header -->
<div id="header">

	<!-- Shell -->
	<div class="shell">

		<!-- Head -->
		<div id="head">

			<!-- Head Row -->
			<div class="row-top">
				<h1 id="logo"><a href="#" class="notext">Logo</a></h1>

				<div class="login">
					<a href="#" class="login-link">Login</a>

					<!-- DropDown -->
					<div class="dd">

						<div class="cnt-top">
							<div class="cnt-bottom">
								<div class="cnt">

									<a href="#" class="login-link-hr">Login</a>

									<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

                                                                          <%= f.text_field :email, :class => "field blink", :value => "Email", :title => "Email"%>
                                                                          <%= f.password_field :password, :class => "field blink", :value => "Password", :title => "Password"%>
                                                                          <%= f.submit "Sign in", :class=>"button notext" %>
                                                                          <% if devise_mapping.rememberable? -%>
                                                                            <%= f.check_box :remember_me, :id => "check" %> <%= f.label :remember_me, :for => "check" %>
                                                                          <% end %>

                                                                        <% end %>

									<div class="cl">&nbsp;</div>

									<p><a href="/users/password/new" class="dd-link">Lost Password?</a></p>

								</div>
							</div>
						</div>

					</div>
					<!-- End DropDown -->

				</div>

				<div class="cl">&nbsp;</div>
			</div>
			<!-- End Head Row -->

			<!-- Head Row -->
			<div class="row">
				<div class="left">
					<h2>Learning Evolved.</h2>
					<p>Welcome to the next step in the evolution of learning. StudyEgg helps you learn more while studying less. Sign up for a free beta account today!</p>
				</div>

				<div class="right">
					<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

                                          <%= f.text_field :email, :class => "field blink", :value => "Email", :title => "Email"%>
                                          <%= f.password_field :password, :class => "field blink", :value => "Password", :title => "Password"%>
                                          <%= f.submit "Sign in", :class=>"button notext" %>

                                        <% end %>
				</div>

				<div class="cl">&nbsp;</div>
			</div>
			<!-- End Head Row -->

			<%= yield %>

		</div>
		<!-- End Head -->

	</div>
	<!-- End Shell -->

</div>
<!-- End Header -->

<!-- Main -->
<div id="main">

	<!-- Shell -->
	<div class="shell">

		<!-- Content -->
		<div id="content">

			<h3>Learn More. Study Less.</h3>

			<!-- Cols -->
			<div class="cols">

				<!-- Col -->
				<div class="col">

					<div class="col-head">
						<img src="../images/home/step1.png" alt="Find Your Egg" />
						<h4>Find Your Egg</h4>
						<p>Instant access to a companion <br>StudyEgg for your textbook</p>
					</div>

				</div>
				<!-- End Col -->

				<!-- Col -->
				<div class="col">

					<div class="col-head second">
						<img src="../images/home/step2.png" alt="Review Anywhere" />
						<h4>Review Anywhere</h4>
						<p>Let StudyEgg teach you at <br>home or on the go!</p>
					</div>

				</div>
				<!-- End Col -->

				<!-- Col -->
				<div class="col">

					<div class="col-head last">
						<img src="../images/home/step3.png" alt="Get Results" />
						<h4>Get Results</h4>
						<p>Earn better grades with <br>less stress and less study time</p>
					</div>

				</div>
				<!-- End Col -->

				<div class="cl">&nbsp;</div>
			</div>
			<!-- End Cols -->

			<div class="vision">
				<div class="col-cnt">
					<h4>Vision</h4>
                                        <p>Our mission here at StudyEgg is to make studying <strong>easier, less stressful, and more effective</strong>.  For too many students learning has become an exercise in putting out fires. Cramming in just enough to do well on an exam (or not) the night before. Finishing just in time to do it all over again with a different class.  Studying this way is not only <em>high stress</em> but it’s an <em>extremely ineffective</em> way to learn.  StudyEgg changes all that by utilizing state-of-the-art learning research to help students learn better, retain information longer, and spend less time studying.</p>
				</div>
				<div class="col-more">
					<p>We built StudyEgg to address these universal student issues of time and stress directly and, as students and StudyEgg users ourselves, we can confidently proclaim: It works!</p>
					<ul class="morelinks">
						<li><a href="/about">Learn More About StudyEgg</a></li>
						<li><a href="/team#josh">Meet the Team</a></li>
						<li><a href="/story">Learn What Drove Josh to Start StudyEgg</a></li>
					</ul>
				</div>
				<div class="cl">&nbsp;</div>
			</div>
			<!-- End Vision -->

		</div>
		<!-- End Content -->

	</div>
	<!-- End Shell -->

</div>
<!-- End Main -->
<div class="cl"></div>
<%= render 'layouts/footer' %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24416099-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>